.video-player-container {
  * {
    /* border: 1px solid red; */
  }
}
.video-card {
  width: 40vw;
  overflow: hidden;
  border-radius: 30px;
}
.player-btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.both-video-show-container {
  display: flex;
  flex: wrap;
  gap: 20px;
}
